body {
	font: 62.5%/1.6em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
	color:#221f1f;
	margin:0;
	border-top:25px solid #221f1f
}

#wrapper{   
	width: 750px;
}

#title {
	font-size: large;
	font-weight: bold;
}

#top_nav {
	float: right;

}